@import url('https://fonts.googleapis.com/css?family=Audiowide');

// Variables
$mp: '.mp';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: 'Audiowide', cursive;
	font-size: 62.5%;
	height: 100%;
	width: 100%;
}

.container {
	height: auto;
	text-align: center;
	padding: 1rem;
}

.page-heading {
	font-size: 3rem;
	margin-top: 2.5rem;
}

.lead {
	font-size: 2rem;
	margin-top: 2rem;
}
