.mp--materialistic {
	background: #fff;
	color: #fff;
	font-weight: bolder;
	border-radius: 0;

	#{$mp}__details {
		background: rgba(62, 80, 181, 0.9);
	}

	#{$mp}__playlist {
		color: #000;

		&-btn {
			color: #000;
			font-weight: bold;

			&--selected,
			&:hover {
				color: #fff;
				border: 0;
				background: rgba(62, 80, 181, 0.85);
			}
		}

		&-items {
			color: #000;
		}
	}

	#{$mp}__options {
		background-color: rgba(62, 80, 181, 1);
		& > h3 {
			color: #000;
		}

		&-toggle {
			background: rgba(62, 80, 181, 0.8);
		}

		&-theme-select,
		&-upload-btn {
			font-size: 1.3rem;
		}

		&-theme-select > * {
			background: rgba(62, 80, 181, 0.8);
		}
	}

	#{$mp}__controls {
		&-btn {
			background: rgba(255, 255, 255, 0.835);
			transition: all 0.2s;
		}
	}

	input[type='range']::-ms-fill-lower {
		background: rgba(darkblue, 0.4);
	}

	input[type='range']::-moz-range-progress {
		background: rgba(darkblue, 0.4);
	}

	input[type='range']::-webkit-slider-thumb {
		box-shadow: -100vw 0 0 100vw darkblue;
	}
}
