.mp__mini {
	width: 30%;
	height: 25%;
	max-width: 30%;
	max-height: 25%;

	@include respond(tablet-landscape) {
		width: 50%;
		height: 15%;
		max-height: 15%;
		min-width: 45rem;
		max-width: 50%;
	}

	@include respond(phone) {
		width: 90%;
		height: 30%;
		max-height: 30%;
		min-width: 34rem;
		max-width: 90%;
	}

	#{$mp}__playlist {
		color: #000;
		display: none;
	}

	#{$mp}__details {
		&-cover {
			width: 100px;
			height: 100px;
		}
	}

	#{$mp}__controls {
		&-btn {
			height: 3rem;
			width: 3rem;
			position: relative;

			& > span {
				display: block;
				height: 100%;
				width: 100%;
				position: absolute;
				top: 30%;
			}
		}
	}

	#{mp}__volume {
		grid-column: 1 / 1 !important;
	}
}
