// Media Query Breakpoints

/*

    0 - 600px: Phones
    600 - 900px: Tablets Portrait
    900 - 1350px: Tablet Landscape
    1350 - 1800+ : Normal Styles
    1800+ Big desktop

*/

@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media only screen and (max-width: 37.5em) {
			@content;
		}
	}

	@if $breakpoint == tablet-portrait {
		@media only screen and (max-width: 56.25em) {
			@content;
		}
	}

	@if $breakpoint == tablet-landscape {
		@media only screen and (max-width: 84.375em) {
			@content;
		}
	}

	@if $breakpoint == bdesktop {
		@media only screen and (max-width: 112.5em) {
			@content;
		}
	}
}

@mixin center() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin ftopLeft() {
	position: fixed;
	top: 0;
	left: 0;
}

@mixin ftopRight() {
	position: fixed;
	top: 0;
	right: 0;
}

@mixin fbottomLeft() {
	position: fixed;
	bottom: 0;
	left: 0;
}

@mixin fbottomRight() {
	position: fixed;
	bottom: 0;
	right: 0;
}
